vm_connector/src/main/mule/vm_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43c4de7b-eb2d-42ec-9e98-bb6fd2b8f094" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="f698f55a-28b5-419f-b929-4832b8e0a4a9" >
		<vm:queues >
			<vm:queue queueName="Customer" />
		</vm:queues>
	</vm:config>
	<flow name="publishFlow" doc:id="4234d455-010e-46c2-abd2-0eab30feb90a" >
		<http:listener doc:name="POST /customer" doc:id="8fc80476-6049-49e8-b0eb-cb2b20ff5108" config-ref="HTTP_Listener_config" path="/customer" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="34544d99-09c6-4f30-afdb-8fb7eb3c9c30" message='#["\nBEFORE Publish"]'/>
		<vm:publish-consume queueName="Customer" doc:name="Publish consume" doc:id="37809543-6737-4b94-bb0d-fb44d1d3c6c6" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="39397643-f320-458c-aeb3-564a4df7276a" message='#["\nPublished to queue"]'/>
	</flow>
	<flow name="subscriberFlow" doc:id="14e8cebe-995f-402a-8cfb-b668e293ee8e" >
		<vm:listener queueName="Customer" doc:name="Listener" doc:id="d823e4f5-d489-4033-a73b-4a2fe590d003" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="a735040e-1573-4cd5-9af8-a0ad2edd9f4c" message='#["\nSubscriber flow invoked\n" ++ payload]'/>
	</flow>
</mule>
