get_rest/src/main/mule/get_rest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ab94fa70-adb2-4a86-ad38-3384a5a5e728" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="06a85556-873b-498a-92d4-8ea8251dc4fe" >
		<http:request-connection host="jsonplaceholder.typicode.com" />
	</http:request-config>
	<flow name="get_restFlow" doc:id="66ec6abb-d640-4374-b064-3091502e7cca" >
		<http:listener doc:name="/GET rest" doc:id="1109d3a2-79ee-4255-b951-3ec7bcd2e5dd" config-ref="HTTP_Listener_config" path="/rest"/>
		<http:request method="GET" doc:name="Request" doc:id="5dbc19fd-1985-435e-bba6-2dc114f71836" config-ref="HTTP_Request_configuration" path="/users"/>
		<logger level="INFO" doc:name="Logger" doc:id="921ab14e-78c1-466b-853e-938387b143cb" message='#["\nLogger message"]'/>
	</flow>
</mule>
