scatter_gather/src/main/mule/scatter_gather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7f083c3e-0ba7-41e6-9019-e348b1a4a539" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ScatterGatherFlow" doc:id="5dd532ae-d11e-48dd-86ee-596cba0ee837" >
		<http:listener doc:name="/GET scat" doc:id="934b4253-541c-4110-a83c-7b1dc160c4d7" config-ref="HTTP_Listener_config" path="/scat" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="6b906a8d-b200-41ed-8284-9a03d6103d1e" message='#["\nBefore scatter-gather"]'/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="59b5c021-8dfb-42dd-81a2-35b5f3b7ef4a" >
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="e466f1a6-3509-4d1a-8818-241407da76ae" message='#["\nLogger message 1"]'/>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="9d82a2c7-b434-4cf1-a0e6-95204866e8ce" message='#["\nLogger message 2"]'/>
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="Logger" doc:id="893e9bae-ef63-4364-8c20-f521728a24e5" message='#["\nOutside of scatter-gather"]'/>
	</flow>
</mule>
