soap_module/src/main/mule/soap_module.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="889ac0ed-4c77-41e2-9f02-9ae9184cb51b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="19833487-5aba-4e33-942e-ec310afaab3d" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soap_moduleFlow" doc:id="4b98a488-6da0-47cb-b836-e977eb5f3aca" >
		<http:listener doc:name="Listener" doc:id="cdf72379-ef82-46ee-bf80-5d6a057974bd" config-ref="HTTP_Listener_config" path="/add"/>
		<set-variable value="#[attributes.queryParams.Number1]" doc:name="Set Variable" doc:id="f5c2f58a-ac3f-4d49-9677-b7bce32624e5" variableName="var1"/>
		<set-variable value="#[attributes.queryParams.Number2]" doc:name="Set Variable" doc:id="788e2681-578f-4a9e-8933-d5d936307e40" variableName="var2"/>
		<ee:transform doc:name="Transform Message" doc:id="75926318-6ff6-4291-be4c-68c939eeaa8d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.var1 as Number,
		ns0#intB: vars.var2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="2835cb9a-e557-4497-9a28-bc75fdd0cf1f" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<logger level="INFO" doc:name="Logger" doc:id="5773ee0c-1e5a-4832-97f7-b47a41f9c649" message='#["\nResult: " ++ payload.body.AddResponse.AddResult]'/>
	</flow>
</mule>
